.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.custom-navbar {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  background-color: #dbdbdb;
}

.brand-text {
  font-size: 1.5em;
  font-weight: bold;
  color: #000000;
  margin-left: 2%;
}

.custom-toggler {
  border-color: #28a745;
}

.nav-link,
.dropdown-item {
  color: #000000 !important;
  font-weight: 500;
}

.ml-auto {
  justify-content: space-between;
  padding: 1% 2% 1% 2%;
}

.nav-link:hover,
.dropdown-item:hover {
  color: #a1a1a1 !important;
}

.navbar-brand {
  color: #000000 !important;
  font-weight: bold;
  font-size: 1.5em;
}

.navbar-brand:hover {
  color: #a1a1a1 !important;
}

.nav-dropdown {
  justify-content: center;
}

.dropdown-item {
  padding: 20px 20px;
}

.dropdown-item:hover {
  color: #a1a1a1 !important;
}

#basic-navbar-nav {
  margin-left: 5%;
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.btn-login {
  width: 200px;
  cursor: not-allowed;
}
.btn-register {
  width: 200px;
  margin: 2%;
}

.nav-dropdown{
  width: 80%;
}
.dropdown-item{ 
  width: 100%; 
}