/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
/* font-size: calc(10px + 2vmin); */
/* color: white; */
/* margin: 0; */
/* box-sizing: border-box; */
/* } */
*

/* .Img {
  margin-top: 5%;
  height: 40vmin;
  pointer-events: none;
  border-radius: 100px;
  margin-bottom: 4%;
  image white and black
  filter: grayscale(100%);
} */

/* .Section {
  width: "90%";
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
} */

/* .Img {
  width: 100px;
  /* aspect-ratio: 3/2; */
 /* flex-grow: 1; */
/* } */ *

/* .Table-body {
  display: flex;
  flex-direction: column;
  margin-left: 110px; 
  background-color: #7677769e;
  align-items: flex-start;
  justify-items: flex-start;
  padding-left: 200px;
} */

/* .Campo-Id {
  width: 50px;
  flex-grow: 1;
}

.Campo-Name {
  width: 200px;
  flex-grow: 1;
}

.Campo-Email {
  width: 300px;
  flex-grow: 1;
}
.Campo-Salario{
  width: 150px;
  flex-grow: 1;
} */


/* ===========   HEADER   =========== */
/* MeuMenu.css */
.App {
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #99b9ff;
  background-image: radial-gradient(
      at 99% 18%,
      hsla(205, 100%, 57%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 98% 88%, hsla(227, 100%, 57%, 1) 0px, transparent 50%),
    radial-gradient(at 89% 14%, hsla(304, 100%, 57%, 1) 0px, transparent 50%),
    radial-gradient(at 35% 48%, hsla(199, 100%, 57%, 1) 0px, transparent 50%),
    radial-gradient(at 87% 50%, hsla(318, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(288, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 8% 12%, hsla(290, 100%, 57%, 1) 0px, transparent 50%);
}
