* {
  box-sizing: border-box;  
}
main{
  background-color: #546AB8;
}
.pages {
  text-align: center;
  padding-top: 4rem;
  font-size: 2rem;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}